<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.testproject">

    <application
        android:allowBackup="true"
        android:icon="@drawable/iconpng"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.TestProject">
        <activity android:name=".UtilityList"></activity>
        <activity android:name=".ActivityWebView"></activity>
        <activity android:name=".WaterList"></activity>
        <activity android:name=".MobileList"></activity>
        <activity android:name=".PostPayList"></activity>
        <activity android:name=".CableTVList"></activity>
        <activity android:name=".InternetList"></activity>
        <activity android:name=".ProjectPayer" />
        <activity android:name=".Verification" />
        <activity android:name=".SimpleStart">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>